.category-anchor {
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    color: var(--text-color-page);
    box-shadow: 1px 1px 2px 1.5px var(--shadow-gainsboro);
    background-color: var(--white-bga);
    cursor: pointer;
}

.category-img {
    width: 7rem;
    height: 7rem;
    background-color: var(--white-bga);
}

.category-anchor:hover {
    box-shadow: 1px 1px 2px 4px var(--shadow-gainsboro);
}


@media (max-width:380px) {
    .category-img {
        width: 6rem;
        height: 6rem;
    }
}
