.main-box{
    display: flex;
    flex-wrap: wrap;
    margin: 2.5rem 3.5rem 0rem 3.5rem;
    justify-content: center;
}

.productimg-details{
    width: 18rem;
    height: 24rem;
    margin: 1.2rem 0rem;   
}

.productimg-outerbox{
    box-shadow: 1px 1px 1px 0.5px var(--gainsboro);
    background-color: var(--white);
    width: 21rem;
    display: flex;
    justify-content: center;
}

.product-details{
    border: none;
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0.2rem;
    padding: 0.9rem 1.4rem;
    cursor: pointer;
    margin-top: 0.6rem;
}

.add-to-cart{
    background-color: var(--color-secondary);
}

.add-to-wishlist{
    background-color: var(--color-primary);
}

.btn-outerbox{
    width: 21rem;
    display: flex;
    justify-content: space-between;
}

.rightside-detailbox{
    margin: 0.3rem 0rem 0rem 2rem;
    width: 40%;
}

.main-title-pd{
    font-weight: 500;
    color: var(--grey);
    font-size: 1.1rem;
}

.title-des{
    font-size: 1.1rem;
    font-weight: 400;
}

.special-price{
    color: var(--green);
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: 0.4rem;
}

.discount-price-pd{
    font-size: 1.3rem;
    font-weight: 500; 
    margin-top: 0.2rem;
}

.all-prcing-inOne{
    width: 10.2rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.mrp-pd{
    color:var(--grey);
    text-decoration: line-through;
    font-size: 0.95rem;
}

.discount-percent-pd{
    color: var(--green);
    font-size: 0.92rem;
    font-weight: 500;
}

.rating-pd{
    background-color: var(--green);
    color: var(--white);
    width: 2rem;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.15rem 0rem;
}

.str{
    font-size: 0.68rem;
    margin-left: 0.1rem;
}

.product-details-heading{
    font-size: 1.3rem;
    font-weight: 450;
    margin-top: 1rem;
}

.product-details-des{
    font-size: 0.98rem;
    margin-top: 0.4rem;
    font-weight: 400;
}

@media (max-width:710px) {
    .rightside-detailbox{
        width: 100%;
        margin: 2rem 0 0 0;
    }
}