.cart-iconbox{
    position: relative;
}

.wishlist-icon{
    position: relative;
}
.notification {
    font-size: 0.6rem;
    position: absolute;
    background-color: rgb(255, 38, 0);;
    border-radius: 50%;
    width: 0.8rem;
    border: 1.3px solid var(--white);
    text-align: center;
    bottom: 0.9rem;
    left: 0.96rem;
    font-weight: 800;
    color:  var(--white);
}

.two{
    left: 0.85rem;
}