.section-categery {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    width: 100%;
    justify-content: space-around;
}

.link-style {
    text-decoration: none;
    color: var(--text-color);
}